h1, h2, h3, h4, h5, h6, .figure-caption, i, p {
	color: #32cd32;
}

#logo {
	margin-left: 80px;
}

#nameplate {
	align-self: center; 
	text-align: center;
}

#workstation {
	border-top: 4px solid #32cd32;
	margin-top: 5px;
}

#fw-nameplate {
	display: flex;
	flex-wrap: nowrap;
	padding: 5px;
}

#work-images {
	max-width: 50%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 4px solid #32cd32;
	margin-bottom: 5px;
}

p {
	font-size: 20px;
	font-weight: bold;
}


 